.footer {
    display: flex;
    justify-content: space-between;
    background-color: #193A68;
    padding: 20px;
}

.footerText {
    margin-left: 120px;
    font-size: 11px;
    font-weight: 200;
    color: #f5f5f5;
}

.footerBtn {
    margin-right: 120px;
    font-size: 11px;
    cursor: pointer;
    font-weight: 200;
    border: none;
    background-color: #193A68;
    color: #f5f5f5;
    border-bottom: 0.5px solid #f5f5f5 ;
}

.divVoltarTopo {
    background-color: var(--laranja);
}

.imgVoltarTopo {
    position: absolute;
    right: 60px;
    width: 60px;
}