.card-post {
    margin: 30px auto;
    width: 80vw;
    border-radius: 30px;
    background-color: #FFF;
    box-shadow: 0.5px 0.5px 5px #232323;
}

.titlePost {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #2D4F77;

}

.card-body-post {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fields label {
    margin-left: 10px;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
    color: #193A68;
}

.fields input {
    width: 60vw;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    border: 1px solid #193A68;
    background-color: #e2e2e29a;
}

.btn-post {
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn-enviar {
    margin: 15px;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #193A68;
    cursor: pointer;

}

.btn-enviar:hover {
    background-color: #193A68;
    color: #FFF;
    border: 1px solid #FFF;
    transition: 0.2s;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.error-message {
    margin-left: 10px;
    font-size: 13px;
    color: rgb(240, 47, 47);
}