.section-frase-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
}

.frase-landing {
    text-align: center;
    font-size: 30px;
    color: #232323;
    position: absolute;
    opacity: 0.9;
    font-weight: 200;
}

.imagem-aspas-frase-landing {
    position: relative;
    width: 600px;
    opacity: 0.5;
}

.fraseSpan {
    font-size: 40px;
    font-weight: 800;
}

.fraseSpan2 {
    color: #0D4D70;
    font-weight: 900;
}